<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SecureVaultDB"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=SecureVaultDB;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="StorageBasePath" value="SecureVaultStorage" />
    <add key="MaxFileSizeMB" value="50" />
    <add key="AllowedFileTypes" value=".pdf,.jpg,.jpeg,.png,.docx,.doc,.xlsx,.txt" />
    <add key="MaxFailedAttempts" value="3" />
  </appSettings>
</configuration>
